<div class='about-me-graphic'>
    <img src='/img/about_me_graphic.svg' alt='background graphic' />
</div>

<div class='about-me-center-container'>
    <div class='about-me-bg'>
        <div class='about-me-title lora'>About me</div>
        <div class='about-me-desc-container'>
            <div class='about-me-short-desc'>
                Hi, I’m Artan Bajqinca, a software development student based in Jönköping, Sweden, currently in my
                second year of bachelor’s study. Although my focus is on programming, I have a passion for graphic
                design and enjoy bringing innovative and thoughtful projects to life that aim to make a positive impact.
                <br /><br />Outside of my academic pursuits, I’m passionate about fitness, running, and martial arts,
                striving to maintain a balanced and healthy lifestyle. Whether through coding or design, I am driven to
                learn, create, and contribute meaningfully to society.
            </div>
        </div>

        <div class='about-me-container'>
            <div class='about-me-titles'>
                <div class='education-left-container'>
                    <div class='Edu-title-left'>EDUCATION</div>
                    {{#each education}}
                        <div class='education-container'>
                            <div class='education-title'>{{ename}}</div>
                            <div class='education-description'>{{edesc}}</div>
                            <div class='education-date'>{{date}}</div>
                        </div>
                    {{/each}}
                </div>
                <div class='experience-right-container'>
                    <div class='Edu-title-right'>EXPERIENCE</div>
                    {{#each experience}}
                        <div class='experience-container'>
                            <div class='experience-title'>{{exname}}</div>
                            <div class='experience-description'>{{exdesc}}</div>
                            <div class='experience-date'>{{exdate}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class='about-me-squares'>
            <div class='about-me-squares-container'>
                <div class='square-left-container container-shared'>
                    <div class='square-left-title title-shared'>Languages</div>
                    <div class='square-left-desc desc-shared'>
                        <ul>
                            <li>Swedish 5/5</li>
                            <li>English 4/5</li>
                            <li>Albanian 3/5</li>
                        </ul>
                    </div>
                </div>
                <div class='square-middle-container container-shared'>
                    <div class='square-middle-title title-shared'>Interests</div>
                    <div class='square-middle-desc desc-shared'>
                        <ul>
                            <li>Programming</li>
                            <li>Graphic Design</li>
                            <li>Martial Arts</li>
                        </ul>
                    </div>
                </div>
                <div class='square-right-container container-shared'>
                    <div class='square-right-title title-shared'>Quote</div>
                    <div class='square-right-desc desc-shared'>
                        "Reach your potential with faith & relentless pursuit."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>