<div class='about-me-center-container'>
    <div class='about-me-bg'>
        <div class='about-me-title lora'>Projects</div>
        {{#if isAdmin}}
            <div>
                <a class='btn' href='/projects/new'>New project</a>
            </div>
        {{/if}}

        {{#if dbError}}
            <div class='error'>
                Sorry, there was a problem with the database:
                <br />
                {{theError}}
            </div>
        {{else}}
            {{#each projects}}
                <div class='project-container'>
                    {{#if (eq ptype 'graphic-design')}}
                        <div class='g-section'>
                            <div class='g-container'>
                                {{!-- <div class='g-name'>{{pname}}</div>
                                <div class='g-year'>{{pyear}}</div> --}}
                                <div class='g-image'>
                                    <img src='{{pimgURL}}' alt='Image for project {{pname}}' />
                                </div>
                            </div>
                        </div>
                    {{/if}}

                    {{#if (eq ptype 'programming')}}
                        <div class='p-section'>
                            <div class='p-container'>
                                <div class='prog-title'>PROGRAMMING PROJECTS</div>
                                {{!-- <div class='p-name'>{{pname}}</div>
                                <div class='p-year'>{{pyear}}</div> --}}
                                <div class='p-image'>
                                    <img src='{{pimgURL}}' alt='Image for project {{pname}}' />
                                </div>
                            </div>
                        </div>

                    {{/if}}

                    {{#if isAdmin}}
                        <div class='project-actions'>
                            <a class='btn' href='/projects/update/{{pid}}'>Modify</a>
                            <a class='btn' href='/projects/delete/{{pid}}'>Delete</a>
                        </div>
                    {{/if}}

                </div>
            {{/each}}
        {{/if}}
    </div>

</div>
<div class='project-me-graphic'>
    <img src='/img/project-me-graphic.svg' alt='Background graphic for project section' />
</div>
<div class='gd-title'>GRAPHIC DESIGN PROJECTS</div>